{% assign content = site.data.content['portfolio'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Works -->
<div class="content works">

	{{ if content.title != '' }}
	<!-- title -->
	<div class="title">{{ content.title }}</div>
	{{ endif }}

	<!-- filters -->
	<div class="filter-menu filter-button-group">
		{% for category in content.filters %}
		<div class="f_btn{% if category.active == 1 %} active{% endif %}">
			<label><input type="radio" name="fl_radio" value="{{ category.slug }}" />{{ category.name }}</label>
		</div>
		{% endfor %}
	</div>

	<!-- content -->
	<div class="row grid-items border-line-v">
		{% for work in site.works %}
		
		{% if work.type == 'photo' or work.type == '' %}
		<!-- work item photo -->
		<div class="col col-d-6 col-t-6 col-m-12 grid-item {{ work.category_slug }} border-line-h">
			<div class="box-item">
				<div class="image">
					<a href="{{ work.image | relative_url }}" class="has-popup-image">
						<img src="{{ work.image | relative_url }}" alt="{{ work.title }}" />
						<span class="info">
							<span class="ion ion-image"></span>
						</span>
					</a>
				</div>
				<div class="desc">
					<a href="{{ work.image | relative_url }}" class="name has-popup-image">{{ work.title }}</a>
					<div class="category">{{ work.category }}</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if work.type == 'video' %}
		<!-- work item video -->
		<div class="col col-d-6 col-t-6 col-m-12 grid-item {{ work.category_slug }} border-line-h">
			<div class="box-item">
				<div class="image">
					<a href="{{ work.video }}" class="has-popup-video">
						<img src="{{ work.image | relative_url }}" alt="{{ work.title }}" />
						<span class="info">
							<span class="ion ion-videocamera"></span>
						</span>
					</a>
				</div>
				<div class="desc">
					<a href="{{ work.video }}" class="name has-popup-video">{{ work.title }}</a>
					<div class="category">{{ work.category }}</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if work.type == 'music' %}
		<!-- work item music -->
		<div class="col col-d-6 col-t-6 col-m-12 grid-item {{ work.category_slug }} border-line-h">
			<div class="box-item">
				<div class="image">
					<a href="{{ work.music }}" class="has-popup-music">
						<img src="{{ work.image | relative_url }}" alt="{{ work.title }}" />
						<span class="info">
							<span class="ion ion-music-note"></span>
						</span>
					</a>
				</div>
				<div class="desc">
					<a href="{{ work.music }}" class="name has-popup-music">{{ work.title }}</a>
					<div class="category">{{ work.category }}</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if work.type == 'content' %}
		<!-- work item content -->
		<div class="col col-d-6 col-t-6 col-m-12 grid-item {{ work.category_slug }} border-line-h">
			<div class="box-item">
				<div class="image">
					<a href="#popup-{{ work.id | replace: '/', '-' }}" class="has-popup-media">
						<img src="{{ work.image | relative_url }}" alt="" />
						<span class="info">
							<span class="ion ion-images"></span>
						</span>
					</a>
				</div>
				<div class="desc">
					<a href="#popup-{{ work.id | replace: '/', '-' }}" class="name has-popup-media">{{ work.title }}</a>
					<div class="category">{{ work.category }}</div>
				</div>
				<div id="popup-{{ work.id | replace: '/', '-' }}" class="popup-box mfp-fade mfp-hide">
					<div class="content">
						<div class="image">
							<img src="{{ work.image | relative_url }}" alt="">
						</div>
						<div class="desc">
							<div class="post-box">
								<h1>{{ work.title }}</h1>						
								<div class="blog-detail">{{ work.category }}</div>
								<div class="blog-content">
									{{ work.content }}
								</div>
								<a href="{{ work.button_url }}" class="button">
									<span class="text">{{ ui_text.view_project }}</span>
									<span class="arrow"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% endfor %}

		<div class="clear"></div>
	</div>

</div>