{% assign content = site.data.content['about'] %}

<!-- About -->
<div class="content about">

	{{ if content.title != '' }}
	<!-- title -->
	<div class="title">{{ content.title }}</div>
	{{ endif }}

	<!-- content -->
	<div class="row">
		<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
			<div class="text-box">
				{{ content.text }}
			</div>
		</div>
		<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
			<div class="info-list">
				<ul>
					{% for item in content.list %}
					<li><strong>{{ item.label }}: </strong> {{ item.value }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>

</div>